- var pageTitle = "Miguel Rivas"
- var site = "Miguel Rivas"
- var fbPreview = "https://miguel-rivas.github.io/img/portfolio.png"
- var icoPath = "https://miguel-rivas.github.io/img/favicon.png"
- var icoBackground = "#222"
- var description = "Web Designer Portfolio"
- var viewPort = true
- var imgSufix = "img/"
- var keyWords = "miguel, rivas, aguacatekun, aguacate, web, designer, frontend, developer, porfolio, santo, domingo, dominican, republic, united state, usa"


- var linkedin = "https://www.linkedin.com/in/miguel-rivas-b576bb74"
- var codepen = "http://codepen.io/aguacatekun/"
- var portfolioA = "../portfolioA/"
- var portfolioB = "../portfolioB/"


- var to_home = "../portfolio/"
- var to_drlogic = "drlogic.html"
- var to_apap = "apap.html"
- var to_presidente = "presidente.html"
- var to_bpr = "bpr.html"
- var to_tests = "tests.html"