@keyframes flyingCloud
{
	from
	{
		left: -690px;
	}
	to
	{
		left: 300%;
	}
}

@keyframes shake
{
	25% { transform: rotateZ(-1deg); }
	50% { transform: rotateZ(1deg); }
	100% { transform: rotateZ(0); }
}

@keyframes enphasis
{
	from
	{
		bottom: 70px;
		opacity: .6;
	}

	top { bottom: 50px; }
}